
server/source/*/bin/
server/source/*/obj/
server/source/packages/
server/*.suo
server/source/buildreports/
client/node_modules/
server/source/test-results.xml
*.user
server/source/bin/
nunit-result.xml
*.swp
server/source/coverage
buildreports
server/source/.vs/config/applicationhost.config
server/source/OpenCover/





